

  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@300&family=Lato:wght@300&family=Montserrat:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:wght@300&family=Pacifico&family=Poppins:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
  }
nav a {
    text-align: center;
    color: #4c4cdf;
    text-decoration: none;
    padding: 35px;
}
  
  #hero-msg h1, #hero-msg h4 {
    text-align: center;
  }
  button-box {
    text-align: center;
  }

 .rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
  }  

  main section {
    text-align: center;
  }
  #background {
    height: 725px;
}
body {
  text-align: center;
  background-color: #a9a5a5; 
  color:black;
  font-family: 'motserrat', 'lato', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

nav a:hover {
  text-align: center;
  --paragraph-background-color: #396E94;
  color:rgb(224, 11, 11)
}

.book, .join {
  text-align: center;
  background-color: #396E94; 
  color:rgb(217, 225, 234);
  text-decoration: none;
  font-family: 'courgette', 'pacifico', 'kalams';
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .join:hover {
  text-align: center;
}

#background {
  text-align: center;
}
.msg {
  text-align: center;
  background-color: #f6efee;
    font-family: 'courgette', 'pacifico', 'kalams';
    font-size: 2em;
    line-height: 1.5em;
    padding: 35px;
}

msg h2 {
  color:black;
  margin: 0;
}

.msg p {
  color:black;
  font-family: 'courgette', 'pacifico', 'kalams';
  font-size: 2em;
  padding-bottom: 15px;
}

header {
    background-color: #f6efee; 
}

.home-title {
    color:#9f6e8a;
    font-family: 'courgette', 'pacifico', 'kalams';
    font-size: 2em;
    margin-top: 10px;
}

h2 { margin:0;

}

h4 {
    color:black
}

.book:hover, .join:hover {
    background-color: #ECCADD;
    color:rgb(34, 51, 78) 
}

#background {
    background-color: #a9a5a5;
}   

footer {
    text-align: center;
    background-color: #acd9fa;
    color:black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color:black;
    text-decoration: none;
}

footer a:hover {
    color:#9f6e8a;
    text-decoration: underline;
}

footer p {
    color:black;
    text-decoration: none;
    font-size: 1.2em;
}

footer .social img {
  padding-top: 15px;
}

.logo, .icon {
    width: 80px;
    padding-top: 10px;
}

logo_link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;
}

.card-img {
    border: 10px solid #9f6e8a;
}
main section img {
    box-sizing: border-box;
}




